h1 a { 
    color : wheat;
    font-family: 'Times New Roman', serif;
    text-align: right;
    text-decoration: none;
}

h2.SKZ { 
    font-style: oblique;
    font-family: 'Times New Roman', serif;
    
}

body {
    background-color: darkslategray;
}

.SKZ a {
    color:black;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.skrr a {
    text-align: center;
    font-family:'Times New Roman', serif;
    color:black;
    text-decoration: none;

}

h2.skrr {
    text-align: center;
}

.character {
    position:fixed;
    top :300px;
    left:20px;
    display: inline-block;
}

.charming {
    width : 200px;
    display:block;
}
.bubble {
    display: inline-block;
    background-color: white; /* 말풍선 색 */
    color: black;
    padding: 10px 15px;
    border-radius: 30px;       /* 둥근 모서리 */
    position: relative;
    width: 228px;
    top: -190px;
    left: 13px;
}

/* bubble이 부모라 bubble 움직이면 ::after도 같이 움직임 */
.bubble::after {
    content: '';
    position: absolute;
    bottom: 0;                  /* 아래쪽 */
    left: 30px;                 /* 꼬리 위치 */
    width: 0;
    border: 10px solid transparent;
    border-top-color: white;  /* 말풍선 배경색과 같게 */
    left: 100px;
    bottom: -18px;
}
